<launch>
  <!-- load the controllers -->  
  <node name="omni_panda_biteleop_v1" pkg="real2simpkg" type="omni_panda_biteleop_v1" output="screen"> 
  </node>

  <!-- Launch sim Tool B1 or sim panda1 -->
  <group ns="panda1">
    <param name="robot_description" command="cat $(find franka_description)/panda1/urdf/fr3_franka_teng4_panda1_prefixyes.urdf" /> 
    <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" />
    <node pkg="tf2_ros" type="static_transform_publisher" name="robot_base_transform"
      args="0 0 0 0 0 0 world panda1/base" />
  </group>

  <!-- Launch sim Tool B2 or sim panda2 -->
  <group ns="panda2"> 
    <param name="robot_description" command="cat $(find franka_description)/panda2/urdf/fr3_franka_teng4_panda2_prefixyes.urdf" />
    <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" />
    <node pkg="tf2_ros" type="static_transform_publisher" name="robot_base_transform"
      args="0.8 0 0 3.141592653589793 0 0 world panda2/base" />
  </group>

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find franka_description)/rviz/visualize_franka_teng4_panda1panda2.rviz" required="true" >
  </node>
  
</launch>
